In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df=pd.read_csv('homeprice2.csv')

In [3]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [4]:
df.bedrooms.median()

4.0

In [5]:
import math

In [7]:
median_bedroom=math.floor(df.bedrooms.median())
median_bedroom

4

In [10]:
df.bedrooms=df.bedrooms.fillna(median_bedroom)

In [11]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [12]:
model=linear_model.LinearRegression()

In [14]:
model.fit(df[['area','bedrooms','age']],df['price'])

LinearRegression()

In [15]:
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [16]:
model.intercept_

221323.00186540408

In [18]:
model.predict([[300,3,40]])

array([195839.65833654])